body {
    margin: 0px;
    background-color: #202124;
    scroll-behavior: smooth;
}

.encabezado {
    display: flex;
    border: solid black 1px;
    justify-content: space-between;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    align-items: center;
    position: sticky;
    top: 0px;
    width: 100%;
}

.logo {
    padding-left: 50px;
    width: 280px;
    height: 220px;
}

.menu {
    display: flex;
    align-items: center;
    padding-right: 50px;
}

.elemenu {
    display: flex;
    border: solid 1px;
    border-radius: 30px;
    background-color: white;
    color: black;
    padding: 15px;
    margin: 5px;
    align-items: center;
    text-align: center;
    height: 30px;
    width: 100px;
    text-decoration: none;
}

.elemenu span {
    padding: 5px;
}

.active {
    background-color: rgb(255, 174, 0);
    color: black;
    transition: 0.5s ease-in-out;
}

.elemenu:hover {
    background-color: rgb(255, 174, 0);
    color: black;
    transition: 0.5s ease-in-out;
}

main {
    display: flex;
    flex-direction: column;

}

.slider-frame {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
    margin: 0%;
    height: 100%;
}

.slider-frame li {
    width: 100%;
    list-style: none;
    height: 100%;
}

.slider-frame img {
    width: 100%;
    height: 100%;
    ;
    object-fit: cover;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}


.principal {
    height: 780px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 20px;
    color: #dddee1;
    align-items: center;
    justify-content: center;
}

.contenedorprincipal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
}

.contenedorprincipal div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    font-size: 30px;
    background-color: rgb(204, 204, 204);
    border-radius: 20px;
    padding: 20px;
    height: 316px;
}
.contenedorprincipal p{
    margin: 10px;
}

.principal b {
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    margin-bottom: 130px;
    margin-top: 20px;
}

.lista {
    margin-left: 150px;
    background-color: rgb(204, 204, 204);
    border-radius: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
}

:target {
    scroll-margin: 170px;
}

.ubicacion {
    display: flex;
    flex-direction: row;
    height: 780px;
    align-items: center;
    justify-content: center;
    background-color: #3c3d42;
    font-family: sans-serif;
    align-items: center;
}

.direccion {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    margin: 100px;
    background-color: black;
    border-radius: 20px;
    color: #dddee1;
    padding: 30px;
}

.direccion b {
    margin: 30px;
    border-radius: 30px;
}

.direccion span {
    margin: 30px;
    border-radius: 30px;
}

.divubicacion {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.mapa {
    margin-top: 50px;
    height: 700px;
    width: 500px;
    box-shadow: rgba(255, 255, 255, 0.05) -5px 5px;
}

.horarios {
    display: flex;
    flex-direction: column;
    height: 780px;
    align-items: center;
    justify-content: center;
    background-color: #202124;
    border-radius: 15px;
    font-family: sans-serif;
}

.cuadrohorarios {
    display: flex;
    flex-direction: column;
    background-color: #131313;
    height: 10%;
    width: 690px;
    margin: 0;
    border-radius: 10px;
    font-size: 40px;
    padding: 40px;
    align-items: center;
    justify-content: center;
}

.cuadrohorarios b {
    margin: 0px;
    padding: 5px;
    color: #dddee1;
    width: 100%;
}

.horas {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    justify-content: center;
    background-color: #131313;
    border-radius: 20px;
    padding: 68px;
    color: #dddee1;
}

.dias {
    font-size: 50px;
    margin-bottom: 10px;
}

.horasnumeros {
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 25px;
    font-size: 30px;
    margin: 10px;
    color: black;
    font-family: monospace;
    box-sizing: content-box;
}

.contacto {
    height: 600px;
    background-color: #3c3d42;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.cuadrocontacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #202124;
    color: #dddee1;
    border-radius: 20px;
    padding: 50px;
}

.cuadrocontacto span {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 40px;
    padding: 30px;
}

.cuadrocontacto a{
    margin: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 40px;
    padding: 30px;
    text-decoration: none;
}

footer {
    background-color: rgb(31, 30, 30);
    margin: 0px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dddee1;
}

footer img {
    padding: 10px;
    width: 90px;
    height: 60px;
}

.piepagina {
    display: flex;
    flex-direction: column;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
}

.whatsapp-icon {
    margin-top:13px;
}
